body {
  margin: 5px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 2px rgb(119, 136, 153);
  background: rgba(0, 0, 0, 0.1);
}

form {
  text-align: center;
}

input {
  border-radius: 25px;
  border: #fff;
  line-height: 25px;
  opacity: 0.9;
  padding-left: 10px;
}

button {
  background: rgba(48, 45, 255, 0.2);
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  padding: 12px 12px;
  border-radius: 100%;
  border: 1px solid rgba(48, 45, 255, 0.2);
  transition: all 200ms ease;
  box-shadow: rgba(37, 39, 89, 0.078) 0px 8px 8px 0;
}

button:hover {
  background: rgba(255, 255, 255, 0.507);
  cursor: pointer;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  margin: 0 auto;
  padding: 20px;
}

img {
  opacity: 0.9;
  filter: drop-shadow(2px 2px 4px gray);
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: rgb(163, 192, 255);
}

h6 {
  text-align: center;
}

P {
  font-size: larger;
  font-style: oblique;
}

.container-app {
  width: 60%;
  border: 2px solid rgba(168, 168, 168, 0.8);
  border-radius: 5%;
  margin: 0 auto;
  background-image: url(../images/day-clear.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.container-text {
  display: block;
  margin: 0 auto;
}

.city-choise {
  display: block;
  text-align: center;
  padding: 20px;
}

.temperature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature .temp-number {
  margin-right: 3px;
}

.temperature .scale {
  position: relative;
  font-size: 22px;
  top: -10px;
}

.weather-info {
  text-align: center;
}

.sensation {
  font-size: 15px;
  margin: 10px;
}

.tempMin {
  color: rgba(220, 220, 220, 0.9);
}

.row {
  align-items: baseline;
  margin: 0 5%;
}

.more-infos {
  font-size: 14px;
  text-align: right;
  margin: 5px 70px 5px 5px;
}

.marines {
  font-size: 12px;
  font-style: normal;
  padding: 5px 5px 5px 55px;
}

#icon-prev {
  width: 30%;
}
